.activity .sub-title {
  font-family: "play", sans-serif;
  padding: 4px 0 15px 10px;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  /* border: 1px solid white; */
}
.activity .content {
  display: flex;
  padding: 0px;
  font-family: "play", sans-serif;
  width: 100%;
  height: 265px;
  margin: 0px auto 0px auto;
  color: white;
  /*border: 1px solid green;*/
}
.activity .right-side {
  position: relative;
  width: 100px;
  margin-top: 7px;
  margin-bottom: 3px;
  border-left: 1px solid rgb(255, 255, 255, 0.2);
  /*border: 1px solid green;*/
}
.activity .right-side .elevator {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 6px;
  height: 75px;
  width: 90px;
  border-radius: 2px;
  background: rgb(255, 255, 255, 0.3);
  transition: 300ms;
  border: 1px solid rgba(208, 255, 0, 0.1);
}
.activity .right-side .floor-3 {
  transform: translateY(-2px);
}
.activity .right-side .floor-2 {
  transform: translateY(86px);
}
.activity .right-side .floor-1 {
  transform: translateY(175px);
}
.activity .right-side .option {
  position: relative;
  z-index: 2;
  height: 75px;
  margin-left: 6px;
  margin-right: 2px;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(208, 255, 0, 0);
}
.activity .right-side .option .icon-white {
  margin: 17px auto;
  color: rgb(255, 255, 255, 0.7);
}
.activity .right-side .option .icon-yellow {
  margin: 17px auto;
  color: var(--yellow1);
}
.activity .right-side .option:hover {
  background: rgb(255, 255, 255, 0.1);
}
.activity .left-side {
  width: 85%;
  margin-left: 15px;
  margin-top: 25px;
  /*border: 1px solid white;*/
}
.activity .content .container {
  margin-top: 10px;
  margin-left: 7px;
  width: 96%;
  /*border: 1px solid orange;*/
}
.activity .block {
  text-decoration: none !important;
  height: 30px;
  color: white !important;
  display: flex;
  cursor: pointer;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  border-bottom: 1px solid transparent;
  /*border: 1px solid green;*/
}
.activity .block:hover {
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}
/*
-- Latest on Stack Overflow --
*/
.activity .question {
  width: 75%;
  height: 20px;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*border: 1px solid green;*/
}
.activity .date {
  width: 110px;
  height: 20px;
  margin-top: 7px;
  margin-left: 3px;
  /* border: 1px solid orange; */
}
/*
-- Latest commits section --
*/
.activity .events-date {
  width: 110px;
  height: 20px;
  margin-top: 7px;
  margin-left: 3px;
  /*border: 1px solid orange;*/
}
.activity .commit {
  width: calc(75% - 110px);
  height: 20px;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*border: 1px solid green;*/
}
.activity .repo-name {
  width: 25%;
  height: 20px;
  margin-top: 7px;
  text-transform: capitalize;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*border: 1px solid green;*/
}
/*
-- Writings section --
*/
.activity .post-title {
  width: 75%;
  height: 20px;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
/*
-- FOR @MEDIA --
*/
.activity .media-top-selector {
  display: none;
  position: relative;
  top: 8px;
  height: 70px;
  width: 100%;
}
.activity .media-top-selector .option {
  position: relative;
  z-index: 2;
  width: 120px;
  height: 68px;
  cursor: pointer;
  font-size: 45px;
  text-align: center;
  border-radius: 2px;
  /* border: 1px solid rgba(208, 255, 0, 1); */
}
.activity .media-top-selector .option .icon {
  margin: 13px 0px 0px 11px;
}
.activity .media-top-selector .wiggle {
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 7px;
  height: 68px;
  width: 20%;
  border-radius: 2px;
  background: rgb(255, 255, 255, 0.3);
  transition: 300ms;
  border: 1px solid rgba(208, 255, 0, 0.1);
}
.activity .media-top-selector .pos-3 {
  transform: translateX(-2px);
}
.activity .media-top-selector .pos-2 {
  transform: translateX(132px);
}
.activity .media-top-selector .pos-1 {
  transform: translateX(266px);
}
