.activity .sub-title {
  font-family: "play", sans-serif;
  padding: 4px 0 15px 10px;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  /* border: 1px solid white; */
}
.activity .content {
  display: flex;
  padding: 0px;
  font-family: "play", sans-serif;
  width: 100%;
  height: 265px;
  margin: 0px auto 0px auto;
  color: white;
  /*border: 1px solid green;*/
}
.activity .right-side {
  position: relative;
  width: 100px;
  margin-top: 7px;
  margin-bottom: 3px;
  border-left: 1px solid rgb(255, 255, 255, 0.2);
  /*border: 1px solid green;*/
}
.activity .right-side .elevator {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 6px;
  height: 75px;
  width: 90px;
  border-radius: 2px;
  background: rgb(255, 255, 255, 0.3);
  transition: 300ms;
  border: 1px solid rgba(208, 255, 0, 0.1);
}
.activity .right-side .floor-3 {
  transform: translateY(-2px);
}
.activity .right-side .floor-2 {
  transform: translateY(86px);
}
.activity .right-side .floor-1 {
  transform: translateY(175px);
}
.activity .right-side .option {
  position: relative;
  z-index: 2;
  height: 75px;
  margin-left: 6px;
  margin-right: 2px;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(208, 255, 0, 0);
}
.activity .right-side .option .icon {
  margin: 17px auto;
}
.activity .right-side .option:hover {
  background: rgb(255, 255, 255, 0.1);
}
.activity .left-side {
  width: 85%;
  margin-left: 15px;
  margin-top: 25px;
  /*border: 1px solid white;*/
}
.activity .content .container {
  margin-top: 10px;
  width: 95%;
  /* border: 1px solid orange; */
}
.activity .block {
  text-decoration: none !important;
  color: white !important;
  display: flex;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  border-bottom: 1px solid transparent;
  /* border: 1px solid green; */
}
.activity .block:hover {
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}
.activity .question {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*border: 1px solid green;*/
}
.activity .date {
  width: 120px;
  /* border: 1px solid orange; */
}
.activity .events-date {
  width: 120px;
  /* border: 1px solid orange; */
}
.activity .commit {
  width: 62%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
.activity .post-title {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
/*
-- FOR @MEDIA --
*/
.activity .media-top-selector {
  display: none;
  position: relative;
  height: 65px;
  width: 100%;
}
.activity .media-top-selector .option {
  position: relative;
  z-index: 2;
  margin: 6px 0 6px 5px;
  width: 120px;
  height: 68px;
  cursor: pointer;
  font-size: 45px;
  text-align: center;
  border-radius: 2px;
  /* border: 1px solid rgba(208, 255, 0, 1); */
}
.activity .media-top-selector .option i {
  margin: 13px 0px 0px 11px;
}
.activity .media-top-selector .wiggle {
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 7px;
  height: 68px;
  width: 120px;
  border-radius: 2px;
  background: rgb(255, 255, 255, 0.3);
  transition: 300ms;
  border: 1px solid rgba(208, 255, 0, 0.1);
}
.activity .media-top-selector .pos-3 {
  transform: translateX(-2px);
}
.activity .media-top-selector .pos-2 {
  transform: translateX(132px);
}
.activity .media-top-selector .pos-1 {
  transform: translateX(266px);
}
.activity .repo-name {
  display: block;
}
