.activity .title {
  width: 95%;
  color: rgb(255, 255, 255, 0.8);
  font-family: "press start 2p", sans-serif;
  margin: 20px auto 0 auto;
  /* border: 1px solid white; */
}
.activity .content {
  display: flex;
  padding: 10px;
  font-family: "play", sans-serif;
  width: 95%;
  height: 180px;
  margin: 10px auto 5px auto;
  color: rgb(255, 255, 255, 0.7);
  /* border: 1px solid white; */
}
.activity .sub-title {
  font-family: "play", sans-serif;
  padding: 4px 0 4px 0;
  /* border: 1px solid white; */
}
.activity .left-side {
  /* border: 1px solid white; */
}
.activity .left-side > div {
  border: 1px dashed rgb(255, 255, 255, 0.5);
  padding: 10px 5px 15px 10px;
  min-width: 250px;
  cursor: pointer;
}
.activity .right-side {
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px solid white; */
}
.activity .selected {
  background: rgb(255, 255, 255, 0.1);
}
.activity .container {
  /* border: 1px solid orange; */
}
.activity .block {
  display: flex;
  margin-top: 0px;
  height: 30px;
  cursor: pointer;
  padding-right: 10px;
  /* border: 1px solid orange; */
}
.activity .question {
  width: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
.activity .date {
  width: 120px;
  /* border: 1px solid orange; */
}
.activity .commit {
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
.activity i {
  font-size: 30px;
}
