.activity .title {
  width: 95%;
  color: rgb(255, 255, 255, 0.8);
  font-family: "press start 2p", sans-serif;
  margin: 20px auto 0 auto;
  /* border: 1px solid white; */
}
.activity .sub-title {
  font-family: "play", sans-serif;
  padding: 4px 0 15px 10px;
  /* border: 1px solid white; */
}
.activity .content {
  display: flex;
  padding: 10px;
  font-family: "play", sans-serif;
  width: 95%;
  height: 180px;
  margin: 10px auto 5px auto;
  color: rgb(255, 255, 255, 0.7);
  /* border: 1px solid blue; */
}
.activity .left-side {
  width: 15%;
  border-right: 1px solid white;
}
.activity .left-side > div {
  padding: 5px 8px 4px 8px;
  margin-top: 4px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  /* border: 1px dashed rgb(255, 255, 255, 0.5); */
}
.activity .right-side {
  width: 85%;
  margin-left: 15px;
  /*border: 1px solid white;*/
}
.activity .selected {
  background: rgb(84, 65, 121, 0.5);
  color: rgb(255, 255, 255, 0.8) !important;
}
.activity .not-selected:hover {
  background: rgb(84, 65, 121, 0.2);
}
.activity .content .container {
  width: 600px;
  /* border: 1px solid orange; */
}
.activity .block {
  text-decoration: none !important;
  color: rgb(255, 255, 255, 0.5) !important;
  display: flex;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  /* border: 1px solid green; */
}
.activity .block:hover {
  background: rgb(84, 65, 121, 0.5);
}
.activity .question {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
.activity .date {
  width: 120px;
  /* border: 1px solid orange; */
}
.activity .commit {
  width: 62%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
.activity .post-title {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid green; */
}
