.main-menu .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  padding: 0px;
  border-image: url("http://localhost:3000/images/border2.png") 33 round;
  width: 130px;
  height: 110px;
  z-index: 99;
}
.main-menu .inner-container {
  height: 166px;
  margin: -28px -30px;
  background-image: url("http://localhost:3000/images/black-metal-texture-100.png");
  background-repeat: no-repeat;
  background-size: auto;
  /*background-color: var(--bg1);*/
  overflow: hidden;
  /* border: 1px solid white; */
}
.main-menu .menu-wrapper {
  padding-top: 5px;
  height: 100%;
  width: 100%;
  /* border: 1px solid orange; */
}
.main-menu .menu-wrapper > div {
  font-family: "Play", sans-serif;
  color: white;
  font-size: 18px;
  margin: 4px auto 0px auto;
  width: 90%;
  padding: 4px 0 4px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.main-menu .menu-wrapper .not-selected {
  display: flex;
  border-radius: 2px;
}
.main-menu .menu-wrapper .not-selected:hover {
  background: rgba(189, 189, 189, 0.2);
  border: 1px solid rgb(218, 173, 114, 0.2);
}
.main-menu .menu-wrapper .selected {
  display: flex;
  /* background: var(--color1); */
  background-image: url("http://localhost:3000/images/metal-texture-300x100.png");
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 2px;
  color: black;
  font-weight: bold;
  border: 1px solid rgb(218, 173, 114, 1);
  /* color: var(--text-color1); */
}
.main-menu .icon {
  margin-left: 10%;
  width: 30%;
  text-align: center;
  /* border: 1px solid white; */
}
.main-menu .label {
  width: 45%;
  margin-top: 2px;
  text-align: left;
  /* border: 1px solid white; */
}
