.main-menu .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  padding: 0px;
  border-image: url("http://localhost:3000/images/border2.png") 33 round;
  width: 130px;
  height: 110px;
  z-index: 99;
}
.main-menu .inner-container {
  height: 166px;
  margin: -28px -30px;
  background-color: rgb(0, 0, 0, 0.6);
  overflow: hidden;
  /* border: 1px solid white; */
}
.main-menu .menu-wrapper {
  padding-top: 5px;
  height: 100%;
  width: 100%;
  /* border: 1px solid orange; */
}
.main-menu .menu-wrapper > div {
  font-family: "Play", sans-serif;
  color: rgb(255, 255, 255, 0.9);
  font-size: 18px;
  margin: 4px auto 0px auto;
  width: 94%;
  padding: 5px 0 5px 0;
  text-align: center;
  cursor: pointer;
}
.main-menu .menu-wrapper .not-selected {
  display: flex;
  border-radius: 2px;
}
.main-menu .menu-wrapper .not-selected:hover {
  background: rgba(70, 38, 54, 0.3);
}
.main-menu .menu-wrapper .selected {
  display: flex;
  background: rgba(70, 38, 54, 0.7);
  border-radius: 2px;
  color: #f1be32 !important;
}
.main-menu .icon {
  margin-left: 10%;
  width: 30%;
  text-align: center;
  /* border: 1px solid white; */
}
.main-menu .label {
  width: 45%;
  margin-top: 2px;
  text-align: left;
  /* border: 1px solid white; */
}
