.main-menu .border-img {
  margin: 0 auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 19px;
  border-image: url("../../assets/images/border-60px.png") 19 round;
  width: 157px;
  height: 132px;
  /*box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;*/
}
.main-menu .inner-container {
  height: 157px;
  margin: -28px -30px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgba(38, 51, 107, 0.75),
    rgb(38, 51, 107, 0.75) 1px,
    rgba(35, 41, 63, 0.85) 2px,
    rgba(32, 39, 66, 0.85) 3px
  );
  overflow: hidden;
  /* border: 1px solid white; */
  border: 1px solid rgba(94, 94, 109, 0.4);
}
.main-menu .menu-wrapper {
  position: relative;
  padding-top: 1px;
  height: 100%;
  width: 100%;
  font-family: "Play", sans-serif;
  color: white;
  font-size: 18px;
  /* border: 1px solid orange; */
}
.main-menu .menu-wrapper .elevator {
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  top: 4px;
  left: 4px;
  width: 173px;
  height: 33px;
  background: rgb(255, 255, 255, 0.3);
  transition: 300ms;
  border: 1px solid rgba(208, 255, 0, 0.1);
  animation: main-menu-waver 1500ms infinite;
}
.main-menu .menu-wrapper .floor-4 {
  transform: translateY(0px);
}
.main-menu .menu-wrapper .floor-3 {
  transform: translateY(38px);
}
.main-menu .menu-wrapper .floor-2 {
  transform: translateY(76px);
}
.main-menu .menu-wrapper .floor-1 {
  transform: translateY(114px);
}
.main-menu .menu-wrapper .option {
  position: relative;
  z-index: 2;
  display: flex;
  border-radius: 2px;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  margin: 3px auto 0px auto;
  width: 173px;
  padding: 5px 0 5px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(208, 255, 0, 0);
}
.main-menu .menu-wrapper .option:hover {
  background: rgba(255, 255, 255, 0.1);
}
.main-menu .label {
  width: 100%;
  padding-top: 2px;
  text-align: center;
}
