.main-menu .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  padding: 0px;
  border-image: url("http://localhost:3000/images/border2.png") 33 round;
  width: 130px;
  height: 90px;
  z-index: 99;
}
.main-menu .inner-container {
  height: 146px;
  margin: -28px -30px;
  background-color: rgb(0, 0, 0, 0.3);
  overflow: hidden;
  /* border: 1px solid white; */
}
.main-menu .menu-wrapper {
  padding-top: 10px;
  height: 100%;
  width: 100%;
  /* border: 1px solid orange; */
}
.main-menu .menu-wrapper > div {
  font-family: "Play", sans-serif;
  color: rgb(255, 255, 255, 0.5);
  font-size: 18px;
  margin: 2px auto 0px auto;
  width: 94%;
  padding: 4px 0 4px 0;
  text-align: center;
  cursor: pointer;
  /* border: 1px dashed rgb(255, 255, 255, 0.2); */
}
.main-menu .menu-wrapper > div:hover {
  background: rgb(255, 255, 255, 0.1);
  color: rgb(255, 255, 255, 0.9);
}
