.projects .title {
  width: 95%;
  color: rgb(255, 255, 255, 1);
  font-family: "press start 2p", sans-serif;
  margin: 20px auto 0 auto;
  font-size: 15px;
  /* border: 1px solid white; */
}
.projects .content {
  display: flex;
  font-family: "play", sans-serif;
  width: 100%;
  height: 100%;
  margin: 10px auto 5px auto;
  color: rgb(255, 255, 255, 1);
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  /* background: rgb(84, 65, 121, 0.5); */
  /* border: 1px solid white; */
}
.projects .left-side {
  margin-left: 15px;
  width: 80%;
  /*border: 1px solid blue;*/
}
.projects .left-side .about {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 95%;
  /* border: 1px solid green; */
}
.projects .left-side .link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 60%;
  /* border: 1px solid white; */
}
.projects .left-side .tags-wrapper {
}
.projects .left-side .tag {
  display: inline-block;
  margin: 3px;
  padding: 3px 4px 3px 4px;
  border-radius: 5px;
  background: rgb(84, 65, 121, 0.6);
  text-shadow: none;
}
.projects .left-side .link a {
  text-decoration: none !important;
  color: lightblue;
}
.projects .right-side {
  margin-top: 3px;
  height: 177px;
  width: 25%;
  min-width: 150px;
  border-left: 1px solid rgb(255, 255, 255, 0.2);
  /*border: 1px solid white;*/
}
.projects .right-side .names-wrapper {
  margin-top: 3px;
  margin-bottom: 10px;
  min-height: 122px;
  border: 1px solid transparent;
}
.projects .right-side .name {
  margin: 5px 5px 5px 5px;
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 7px 3px 6px 3px;
  border: 1px solid transparent;
  text-transform: capitalize;
}
.projects .selected {
  background: rgb(255, 255, 255, 0.3);
  border: 1px solid rgba(208, 255, 0, 0.1) !important;
}
.projects .not-selected:hover {
  background: rgb(255, 255, 255, 0.1);
}
.projects .top-arrow-box {
  height: 25px;
  margin-top: -5px;
  margin-bottom: 0px;
  text-align: center;
  /* border: 1px solid white; */
}
.projects .top-arrow-box i {
  font-size: 25px;
  margin-top: 4px;
  cursor: pointer;
  /* border: 1px solid white;*/
}
.projects .bottom-arrow-box {
  height: 25px;
  text-align: center;
  /* border: 1px solid white;*/
}
.projects .bottom-arrow-box i {
  font-size: 25px;
  margin-top: 0px;
  cursor: pointer;
  /* border: 1px solid white; */
}
.projects .opacity-05 {
  opacity: 0.5 !important;
  cursor: default !important;
}
