.projects .title {
  width: 95%;
  color: rgb(255, 255, 255, 0.8);
  font-family: "press start 2p", sans-serif;
  margin: 20px auto 0 auto;
  /* border: 1px solid white; */
}
.projects .content {
  display: flex;
  padding: 10px;
  font-family: "play", sans-serif;
  width: 95%;
  height: 180px;
  margin: 10px auto 5px auto;
  color: rgb(255, 255, 255, 0.7);
  /* background: rgb(84, 65, 121, 0.5); */
  /* border: 1px solid white; */
}
.projects .left-side {
  padding: 10px;
  width: 30%;
  border-right: 1px solid orange;
}
.projects .right-side {
  margin-left: 15px;
  width: 60%;
  /* border: 1px solid blue; */
}
.projects .right-side .about {
  width: 95%;
  margin-bottom: 10px;
  /* border: 1px solid green; */
}
.projects .right-side .link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  /* border: 1px solid white; */
}
.projects .right-side .tags-wrapper {
}
.projects .right-side .tag {
  display: inline-block;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  background: rgb(84, 65, 121, 0.5);
}
.projects .right-side .link a {
  text-decoration: none !important;
  color: lightblue;
}
.projects .left-side .name {
  overflow: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  margin-top: 3px;
  padding: 5px;
}
.projects .selected {
  background: rgb(84, 65, 121, 0.5);
  color: rgb(255, 255, 255, 0.8) !important;
}
.projects .not-selected:hover {
  background: rgb(84, 65, 121, 0.2);
}
.projects .top-arrow-box {
  height: 25px;
  text-align: center;
  /* border: 1px solid white; */
}
.projects .top-arrow-box i {
  font-size: 25px;
  margin-top: 5px;
  cursor: pointer;
  /* border: 1px solid white; */
}
.projects .bottom-arrow-box {
  height: 25px;
  text-align: center;
  /* border: 1px solid white; */
}
.projects .bottom-arrow-box i {
  font-size: 25px;
  margin-top: -15px;
  cursor: pointer;
  /* border: 1px solid white; */
}
