.projects .title {
  width: 95%;
  color: rgb(255, 255, 255, 1);
  font-family: "press start 2p", sans-serif;
  margin: 20px auto 0 auto;
  font-size: 15px;
  /* border: 1px solid white; */
}
.projects .content {
  display: flex;
  justify-content: flex-end;
  font-family: "play", sans-serif;
  width: 100%;
  height: 100%;
  margin: 10px auto 5px auto;
  color: rgb(255, 255, 255, 1);
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  /* border: 1px solid white; */
}
.projects .left-side {
  margin-left: 15px;
  width: 100%;
  /*border: 1px solid blue;*/
}
.projects .left-side .about {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 95%;
  /* border: 1px solid green; */
}
.projects .left-side .link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 60%;
  /* border: 1px solid white; */
}
.projects .left-side .tags-wrapper {
}
.projects .left-side .tag {
  display: inline-block;
  margin: 3px;
  padding: 3px 4px 3px 4px;
  border-radius: 5px;
  background: rgb(84, 65, 121, 0.6);
  text-shadow: none;
}
.projects .left-side .link a {
  text-decoration: none !important;
  color: var(--yellow2);
}
.projects .left-side .link a:hover {
  color: var(--yellow1);
}
.projects .left-side .link i {
  text-decoration: none !important;
  color: var(--gray);
}
.projects .left-side .not-available {
  color: var(--yellow2);
}
.projects .left-side .not-available i {
  color: var(--light-red);
}
.projects .right-side {
  margin-top: 3px;
  height: 177px;
  min-height: 125px;
  min-width: 220px;
  max-width: 220px;
  border-left: 1px solid rgb(255, 255, 255, 0.2);
  /*border: 1px solid white;*/
}
.projects .right-side .options-wrapper {
  margin-top: 5px;
  margin-bottom: 0px;
  min-height: 125px;
  border: 1px solid transparent;
}
.projects .right-side .option {
  display: flex;
  margin: 5px 5px 5px 5px;
  border-radius: 2px;
  max-width: 200px;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 7px 5px 7px 9px;
  border: 1px solid transparent;
  text-transform: capitalize;
}
.projects .right-side .option .folder {
  min-width: 25px;
  /* border: 1px solid white; */
}
.projects .right-side .option .project-name {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid white; */
}
.projects .selected {
  background: rgb(255, 255, 255, 0.3);
  border: 1px solid rgba(208, 255, 0, 0.1) !important;
}
.projects .not-selected:hover {
  background: rgb(255, 255, 255, 0.1);
}
.projects .top-arrow-box {
  height: 25px;
  margin-top: -5px;
  margin-bottom: 0px;
  text-align: center;
  border: 1px solid transparent;
}
.projects .top-arrow-box i {
  font-size: 25px;
  margin-top: 4px;
  cursor: pointer;
  /* border: 1px solid white;*/
}
.projects .bottom-arrow-box {
  height: 25px;
  text-align: center;
  border: 1px solid transparent;
}
.projects .bottom-arrow-box i {
  font-size: 25px;
  margin-top: 0px;
  cursor: pointer;
  /* border: 1px solid white; */
}
.projects .opacity-05 {
  opacity: 0.5 !important;
  cursor: default !important;
}
/*
-- FOR @MEDIA - Smaller screens
*/
.projects .switcher-box {
  display: none;
  width: 100%;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  /* border: 1px solid white; */
}
.projects .switcher-box .arrow-left {
  width: 20%;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  /* border: 1px solid white;*/
}
.projects .switcher-box .project-name {
  width: 50%;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  /* border: 1px solid white; */
}
.projects .switcher-box .arrow-right {
  width: 20%;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  /* border: 1px solid white; */
}
