.top-nav-bar .border-img {
  margin: 0 auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 19px;
  border-image: url("../../assets/images/border-60px.png") 19 round;
  max-width: 800px;
  margin: 40px;
  height: 30px;
}
.top-nav-bar .border-img .inner-container {
  height: 56px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgba(38, 51, 107, 0.75),
    rgb(38, 51, 107, 0.75) 1px,
    rgba(35, 41, 63, 0.85) 2px,
    rgba(32, 39, 66, 0.85) 3px
  );
  border: 1px solid rgba(14, 16, 98, 0.4);
}
.top-nav-bar .wrapper {
  margin-top: 18px;
  width: 100%;
  height: auto;
  display:flex;
 /* border:1px solid yellow; */
  font-family: "Play", sans-serif;
  color: white;
  font-size: 18px;
}
