/*
--  PARENT CONTAINER AND AVATAR
*/
.basic-info .border-img {
  margin: 0 auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 19px;
  border-image: url("../../assets/images/border-60px.png") 19 round;
  width: 571px;
  height: 132px;
}
.basic-info .inner-container {
  display: flex;
  height: 160px;
  margin: -14px -13px 0 -13px;
  background: repeating-linear-gradient(
    0deg,
    rgba(38, 51, 107, 0.75),
    rgb(38, 51, 107, 0.75) 1px,
    rgba(35, 41, 63, 0.85) 2px,
    rgba(32, 39, 66, 0.85) 3px
  );
  overflow: hidden;
}
.basic-info .avatar-wrapper {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 3px;
  min-width: 160px;
  height: 150px;
  overflow: hidden;
  background: rgb(255, 255, 255, 0.15);
}
.basic-info .avatar-wrapper img {
  margin-top: -10px;
  opacity: 0.75;
  height: 160px;
  width: 160px;
}
/* 
-- USERNAME CONTAINER
*/
.basic-info .username-wrapper {
  margin-left: 5px;
  margin-top: 10px;
  min-width: 140px;
  height: 122px;
  /* border: 1px solid white; */
}
.basic-info .username {
  margin-top: 3px;
  margin-left: 10px;
  font-family: "press start 2p", sans-serif;
  color: rgb(255, 255, 255, 1);
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
}
.basic-info .sub-username {
  margin-left: 10px;
  margin-top: 5px;
  font-family: "play", sans-serif;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  font-size: 17px;
  color: white;
}
/*
-- INFO
*/
.basic-info .info {
  margin: 3px 8px 10px 10px;
  width: 75%;
  color: white;
  /* border: 1px solid white; */
}
.basic-info .info > div {
  display: flex;
  font-family: "play", sans-serif;
  margin-top: 3px;
  font-size: 17px;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  padding: 7px 0 4px 0;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  /* border: 1px solid white; */
}
.basic-info .info label {
  margin-top: 1px;
  width: 50%;
  text-align: left;
  margin-left: 7px;
  color: white;
  /* border: 1px solid white; */
}
.basic-info .info data {
  width: 50%;
  margin-top: 1px;
  margin-right: 5px;
  text-align: right;
  color: white;
  /* border: 1px solid white; */
}
.basic-info .info data .icon-green {
  font-size: 15px;
  color: var(--green1);
}
.basic-info .info data .icon-red {
  font-size: 15px;
  color: var(--light-red);
}
.basic-info .info data span {
  color: var(--yellow1);
}
