/*
--  PARENT CONTAINER AND AVATAR
*/
.basic-info .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  border-image: url("http://localhost:3000/images/border2.png") 33 round;
  min-width: 535px;
  height: 110px;
}
.basic-info .inner-container {
  display: flex;
  height: 166px;
  margin: -28px -30px;
  background-color: var(--bg1);
  overflow: hidden;
}
.basic-info .pic-container {
  min-width: 135px;
  height: 144px;
  margin-left: 10px;
  margin-top: 9px;
  background: var(--pink1);
  overflow: hidden;
  display: inline-block;
  border: 2px solid rgb(255, 255, 255, 0.5);
}
.basic-info .pic-container img {
  opacity: 0.8;
  margin-left: -3px;
  height: 145px;
  width: 145px;
}

/* 
-- USERNAME CONTAINER
*/
.basic-info .username-wrapper {
  margin-left: 5px;
  margin-top: 10px;
  min-width: 140px;
  height: 122px;
  /* border: 1px solid white; */
}
.basic-info .username {
  margin-top: 3px;
  margin-left: 10px;
  font-family: "press start 2p", sans-serif;
  color: rgb(255, 255, 255, 1);
}
.basic-info .sub-username {
  margin-left: 10px;
  margin-top: 5px;
  font-family: "play", sans-serif;
  color: rgb(255, 255, 255, 1);
}
/*
-- INFO
*/
.basic-info .info {
  margin: 8px 13px 10px 10px;
  width: 75%;
  color: white;
  /* border: 1px solid white; */
}
.basic-info .info > div {
  display: flex;
  font-family: "play", sans-serif;
  margin-top: 0px;
  /* background: rgba(70, 38, 54, 0.7); */
  padding: 10px 0 6px 0;
  width: 100%;
  /* border: 1px solid white; */
}
.basic-info .info .icon {
  margin-top: 2px;
  margin-left: 10px;
  /* border: 1px solid white; */
}
.basic-info .info label {
  margin-top: 1px;
  width: 50%;
  text-align: left;
  margin-left: 7px;
  color: var(--cloud-color1);
  /* border: 1px solid white; */
}
.basic-info .info data {
  width: 50%;
  margin-top: 1px;
  margin-right: 5px;
  text-align: right;
  color: white;
  /* border: 1px solid white; */
}
.basic-info .info data i {
  font-size: 14px;
  color: var(--green1);
}
.basic-info .info data span {
  color: var(--yellow1);
}
