/*
--  PARENT CONTAINER AND AVATAR
*/
.basic-info .border-img {
  margin: 0 auto;
  border: 19px solid transparent;
  border-image: url("http://localhost:3000/images/border-60px.png") 19 round;
  min-width: 571px;
  height: 132px;
}
.basic-info .inner-container {
  display: flex;
  height: 160px;
  margin: -14px -13px 0 -13px;
  background: repeating-linear-gradient(
    0deg,
    rgb(17, 60, 252, 0.6),
    rgb(17, 60, 252, 0.6) 1px,
    rgb(25, 52, 152, 0.7) 2px,
    rgb(25, 52, 152, 0.7) 3px
  );

  /* background-image: url("http://localhost:3000/images/black-metal-texture-080.png");
  background-repeat: no-repeat;
  background-size: auto;
  /*background-color: var(--bg1);*/
  overflow: hidden;
}
.basic-info .pic-container {
  margin: -2px auto;
  border: 5px solid transparent;
  border-image: url("http://localhost:3000/images/avatar-border-16-16.png") 5
    round;
  min-width: 137px;
  height: 137px;
  margin-left: 10px;
  margin-top: 9px;
  /*background: var(--pink1);*/
  /*  background: rgba(250, 161, 200, 0.2);*/
  border-radius: 4px;
  /*
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 217, 233, 0.3),
    var(--pink1)
  );
  */
}
.basic-info .pic-container img {
  opacity: 0.9;
  margin-top: -2px;
  margin-left: -2px;
  height: 141px;
  width: 141px;
  border-radius: 4px;
}

/* 
-- USERNAME CONTAINER
*/
.basic-info .username-wrapper {
  margin-left: 5px;
  margin-top: 10px;
  min-width: 140px;
  height: 122px;
  /* border: 1px solid white; */
}
.basic-info .username {
  margin-top: 3px;
  margin-left: 10px;
  font-family: "press start 2p", sans-serif;
  color: rgb(255, 255, 255, 1);
}
.basic-info .sub-username {
  margin-left: 10px;
  margin-top: 5px;
  font-family: "play", sans-serif;
  color: rgb(218, 173, 114);
}
/*
-- INFO
*/
.basic-info .info {
  margin: 8px 13px 10px 10px;
  width: 75%;
  color: white;
  /* border: 1px solid white; */
}
.basic-info .info > div {
  display: flex;
  font-family: "play", sans-serif;
  margin-top: 0px;
  /* background: rgba(70, 38, 54, 0.7); */
  padding: 10px 0 6px 0;
  width: 100%;
  /* border: 1px solid white; */
}
.basic-info .info .icon {
  margin-top: 2px;
  margin-left: 10px;
  /* border: 1px solid white; */
}
.basic-info .info label {
  margin-top: 1px;
  width: 50%;
  text-align: left;
  margin-left: 7px;
  color: var(--cloud-color1);
  /* border: 1px solid white; */
}
.basic-info .info data {
  width: 50%;
  margin-top: 1px;
  margin-right: 5px;
  text-align: right;
  color: white;
  /* border: 1px solid white; */
}
.basic-info .info data i {
  font-size: 14px;
  color: var(--green1);
}
.basic-info .info data span {
  color: var(--yellow1);
}
