.main-wrapper {
  position: absolute;
  z-index: 2;
  top: 9%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  /*border: 3px solid yellow;*/
}
.first-row {
  display: block;
  position: relative;
}
.second-row {
  display: flex;
  position: relative;
  margin-top: 3px;
}
.second-row .left-side {
  display: block;
}
.second-row .right-side {
  padding-left: 3px;
}
.third-row {
  position: relative;
  display: flex;
  /*border: 1px solid white;*/
}
.third-row .border-img {
  margin: 3px auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 19px;
  border-image: url("../assets/images/border-60px.png") 19 round;
  width: 770px;
  height: 240px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.third-row .inner-container {
  height: 268px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgb(17, 60, 252, 0.8),
    rgb(17, 60, 252, 0.8) 1px,
    rgb(25, 52, 152, 0.9) 2px,
    rgb(25, 52, 152, 0.9) 3px
  );
  overflow: hidden;
  /*border: 1px solid rgba(14, 16, 98, 0.4);*/
}
