.bg-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 1;
  background-image: url("../assets/images/pixel-bg-3.png");
  background-attachment: fixed;
  background-size: cover;
  animation: bg-smooth-appearance 800ms;
  animation-iteration-count: 1;
}
.main-wrapper {
  position: absolute;
  z-index: 2;
  top: 9%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  /*border: 3px solid yellow;*/
}
.first-row {
  display: block;
  position: relative;
}
.second-row {
  display: flex;
  position: relative;
  margin-top: 3px;
}
.second-row .left-side {
  display: block;
}
.second-row .right-side {
  padding-left: 3px;
}
.third-row {
  position: relative;
  display: flex;
  /*border: 1px solid white;*/
}
.third-row .border-img {
  margin: 3px auto;
  border-radius: 8px;
  border: 19px solid transparent;
  border-image: url("../assets/images/border-60px.png") 19 round;
  width: 770px;
  height: 240px;
  z-index: 2;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.third-row .inner-container {
  height: 268px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgb(17, 60, 252, 0.6),
    rgb(17, 60, 252, 0.6) 1px,
    rgb(25, 52, 152, 0.7) 2px,
    rgb(25, 52, 152, 0.7) 3px
  );
  overflow: hidden;
  /*border: 1px solid rgba(14, 16, 98, 0.4);*/
}
