@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  -webkit-tap-highlight-color: transparent; /* Removes ugly highlight onclick (touch screens) */
}
:root {
  --bg1: rgba(0, 0, 0, 0.5);
  --yellow1: rgb(245, 214, 112);
  --yellow2: rgb(236, 184, 41);
  --yellow3: rgb(248, 217, 131);
  --green1: rgb(54, 182, 31);
  --light-blue: rgb(136, 224, 239);
  --light-red: rgb(254, 143, 143);
  --light-gray: rgb(213, 213, 213);
  --gray: rgb(177, 177, 177);
}
body {
  background: #043247;
  margin: 0;
  font-family: "play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.opacity-0 {
  opacity: 0;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-flicker {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-flicker-2 {
  0% {
    opacity: 0.5;
  }
  49% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
