.no-loader {
  display: none;
}
.loader {
  display: block;
}
.loader .center-wrapper {
  position: absolute;
  width: 300px;
  height: 350px;
  top: -5%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  /* border: 1px solid white;*/
}
.loader .gif-frame {
  margin: 0 auto;
  width: 240px;
  height: 240px;
}
.loader .text-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 18px;
  position: relative;
  width: 100%;
  /*border: 1px solid white;*/
}
.loader .typing {
  white-space: nowrap;
  opacity: 0.8;
  overflow: hidden;
  border-right: 2px solid white;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-right: 2px;
  font-family: "Courier Prime", monospace;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.5), 0 1px rgb(0, 0, 0, 0.5),
    1px 0 rgb(0, 0, 0, 0.5), 0 -1px rgb(0, 0, 0, 0.5);
  /*border: 1px solid white;*/
}
.loader .effect-one {
  margin: 0 auto;
  width: 255px;
  animation: typing 2000ms steps(29), blink 0.5s step-end infinite alternate;
}
.loader .effect-two {
  animation: typing 1000ms steps(15), blink 0.5s step-end infinite alternate;
  margin: 0 auto;
  width: 127px;
}
.animation {
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
