.no-loader {
  display: none;
}
.loader {
  display: block;
}
.loader .center-wrapper {
  position: absolute;
  width: 300px;
  height: 350px;
  top: -5%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  /* border: 1px solid white;*/
}
.loader .gif-frame {
  margin: 0 auto;
  width: 240px;
  height: 240px;
}
.loader .text-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 18px;
  position: relative;
  width: 100%;
  /*border: 1px solid white;*/
}
.loader .typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgb(255, 255, 255, 0.9);
  padding-top: 3px;
  padding-bottom: 0px;
  padding-right: 2px;
  font-family: "Courier Prime", monospace;
  font-size: 15px;
  color: rgb(255, 255, 255, 0.7);
  /*border: 1px solid white;*/
}
.loader .effect-one {
  margin: 0 auto;
  width: 30ch;
  animation: typing 2000ms steps(30), blink 0.5s step-end infinite alternate;
}
.loader .effect-two {
  animation: typing 1000ms steps(15), blink 0.5s step-end infinite alternate;
  margin: 0 auto;
  width: 15ch;
}
.animation {
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
