/*
-- Width @media
*/
@media (min-width: 750px) and (max-width: 900px) {
  body {
    background-color: #5db0e5 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2312129A'/%3E%3Cstop offset='1' stop-color='%235DB0E5'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%233861c0'/%3E%3Cstop offset='1' stop-color='%235DB0E5'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  footer {
    display: none !important;
  }
  .fourth-row {
    display: none !important;
  }
  .main-wrapper {
    width: 700px !important;
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: 658px !important;
  }
  /* 
  -- Second row --
  */
  .second-row .main-menu .border-img {
    width: 130px;
  }
  .second-row .basic-info .border-img {
    width: 487px !important;
  }
  .second-row .basic-info .username-wrapper {
    display: none;
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 146px !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 146px !important;
  }
  /* 
  -- Third row --
  */
  .third-row .border-img {
    width: 660px !important;
  }
  .projects .left-side .about {
    letter-spacing: 1px !important;
    line-height: 20px !important;
    /* border: 1px solid green; */
  }
  .projects .left-side #repo-link{
    display: none!important;
  }
  .third-row .activity .left-side {
    width: 567px !important;
  }
  .third-row .activity .right-side {
    width: 100px !important;
  }
}
@media (min-width: 500px) and (max-width: 750px) {
  body {
    background-color: #5db0e5 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2312129A'/%3E%3Cstop offset='1' stop-color='%235DB0E5'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%233861c0'/%3E%3Cstop offset='1' stop-color='%235DB0E5'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  footer {
    display: none !important;
  }
  .fourth-row {
    display: none !important;
  }
  .main-wrapper {
    width: 450px !important;
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: 408px !important;
  }
  /* 
  -- Second row --
  */
  .second-row .main-menu .border-img {
    width: 222px;
  }
  .second-row .basic-info .border-img {
    width: 145px !important;
  }
  .second-row .basic-info .username-wrapper {
    display: none !important;
  }
  .second-row .basic-info .info {
    display: none !important;
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 237px !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 146px !important;
  }
  .second-row .main-menu .menu-wrapper .option:hover {
    background: transparent;
  }
  /* 
  -- Third row --
  */
  .third-row .border-img {
    width: 408px !important;
    height: 330px !important;
  }
  .third-row .inner-container {
    height: 358px;
  }
  .third-row .about .content {
    height: 230px !important;
  }
  .third-row .skills .right-side {
    display: none !important;
  }
  .third-row .skills .left-side {
    width: 100%;
    border-right: none !important;
  }
  .third-row .skills .sub-title {
    display: none !important;
  }
  .third-row .skills .down-arrow-box {
    display: block !important;
  }
  .third-row .skills .media-title {
    display: block !important;
  }
  .third-row .projects .content {
    display: inline-block !important;
    width: 95% !important;
    margin: 10px 2.5% 0 2.5% !important;
    /*border: 1px solid white;*/
  }
  .third-row .projects .right-side {
    display: none !important;
  }
  .third-row .projects .switcher-box {
    display: flex !important;
    width: 95% !important;
    /*border: 1px solid white;*/
  }
  .third-row .projects .left-side .about {
    letter-spacing: 1px !important;
    line-height: 20px !important;
    margin: 20px 0 !important;
    /* border: 1px solid green; */
  }
  .third-row .projects .left-side .link {
    margin-left: 0;
    /*border: 1px solid white;*/
  }
  .third-row .projects .left-side .tags-wrapper {
    margin-left: -5px;
    margin-top: 20px;
  }
  .third-row .activity .content {
    display: inline-block;
  }
  .third-row .activity .media-top-selector {
    display: flex;
    width: 97%;
    margin: 0 auto;
    justify-content: space-between;
    /*border: 1px solid white;*/
  }
  .third-row .activity .media-top-selector .option {
    /*border: 1px solid orange;*/
  }
  .third-row .activity .media-top-selector .wiggle {
    top: 0;
    width: 120px;
  }
  .third-row .activity .media-top-selector .pos-3 {
    transform: translateX(-7px);
  }
  .third-row .activity .media-top-selector .pos-2 {
    transform: translateX(142px);
  }
  .third-row .activity .media-top-selector .pos-1 {
    transform: translateX(294px);
  }
  .third-row .activity .commit {
    width: calc(100% - 110px);
  }
  .third-row .activity .question {
    width: calc(97% - 110px);
  }
  .third-row .activity .post-title {
    width: calc(97% - 110px);
  }
  .third-row .activity .repo-name {
    display: none !important;
  }
  .third-row .activity .left-side {
    width: 97% !important;
    margin-left: 6px !important;
    margin-top: 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.4) !important;
    padding-top: 20px;
  }
  .third-row .activity .right-side {
    display: none;
  }
}
@media screen and (max-width: 499px) {
  body {
    background-color: #5db0e5 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2312129A'/%3E%3Cstop offset='1' stop-color='%235DB0E5'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%233861c0'/%3E%3Cstop offset='1' stop-color='%235DB0E5'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  footer {
    display: none !important;
  }
  .fourth-row {
    display: none !important;
  }
  .main-wrapper {
    width: 450px !important;
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: 408px !important;
  }
  .fourth-row {
    display: none !important;
  }
  .inner-container {
    background: rgba(9, 48, 224, 0.7) !important;
  }
  .main-wrapper {
    top: 5px;
    width: 98% !important;
    /*border: 1px solid white;*/
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: calc(100% - 38px) !important;
  }
  /* 
  -- Second row --
  */
  .second-row {
    /*border: 1px solid white;*/
  }
  .second-row .left-side {
    width: calc(100% - 190px) !important;
    /*border: 1px solid pink;*/
  }
  .second-row .main-menu .border-img {
    height: 142px !important;
  }
  .second-row .main-menu .inner-container {
    height: 167px !important;
  }
  .second-row .main-menu .menu-wrapper {
    margin: 3px 5px 3px 5px;
    height: 95% !important;
    width: 95% !important;
    font-size: 20px !important;
    /*border: 1px solid white;*/
  }
  .second-row .main-menu .menu-wrapper .elevator {
    min-width: 99.5% !important;
    left: 0px !important;
    right: 0px;
    height: 35px !important;
  }
  .second-row .main-menu .menu-wrapper .floor-4 {
    transform: translateY(-1px) !important;
  }
  .second-row .menu-wrapper .floor-3 {
    transform: translateY(38px) !important;
  }
  .second-row .menu-wrapper .floor-2 {
    transform: translateY(78px) !important;
  }
  .second-row .menu-wrapper .floor-1 {
    transform: translateY(117px) !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    min-width: 98%;
    margin: 3px 1% 0 1%;
    padding: 3px 0 6px 0;
  }
  .second-row .main-menu .menu-wrapper .option:hover {
    background: transparent;
  }
  .second-row .right-side {
    width: 190px !important;
    /*border: 1px solid yellow;*/
  }
  .second-row .basic-info .border-img {
    width: calc(100% - 38px) !important;
    height: 142px !important;
  }
  .basic-info .inner-container {
    height: 170px !important;
  }
  .basic-info .avatar-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    min-width: 166px !important;
    height: 160px !important;
  }
  .second-row .basic-info .avatar-wrapper img {
    opacity: 1;
    height: 170px !important;
    width: 170px !important;
  }
  .second-row .main-menu .border-img {
    width: calc(100% - 38px) !important;
  }
  .second-row .basic-info .username-wrapper {
    display: none !important;
  }
  .second-row .basic-info .info {
    display: none !important;
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 146px !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 146px !important;
  }
  /*
  -- Third row --
  */
  .third-row {
    width: 100% !important;
    height: calc(100vh - 280px) !important;
    display: block !important;
    /*border: 1px solid yellow;*/
  }
  .third-row .border-img {
    width: calc(100% - 38px) !important;
    height: calc(100vh - 360px) !important;
  }
  .third-row .inner-container {
    height: calc(100% + 29px) !important;
  }
  .third-row .about .content {
    width: 90%;
    height: calc(100vh - 430px) !important;
    min-height: 280px;
    line-height: 30px !important;
    margin: 25px auto 5px auto;
    font-size: 17px !important;
    /*border: 1px solid white;*/
  }
  .third-row .about .arrow-box {
    margin: 0px auto 5px auto !important;
    /*border: 1px solid white;*/
  }
  .third-row .skills .content {
    margin-top: 15px;
    height: calc(100vh - 420px) !important;
    min-height: 300px !important;
    width: 94%;
    /* border: 1px solid white;*/
  }
  .third-row .skills .down-arrow-box {
    display: none;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    height: 50px;
    /*border: 1px solid white;*/
  }
  .third-row .skills .sub-title {
    display: none !important;
  }
  .third-row .skills .media-title {
    display: none !important;
    margin-bottom: 20px !important;
    font-size: 19px !important;
  }
  .third-row .skills .skills-wrapper {
    width: 100% !important;
    margin: 0 !important;
    /*border: 1px solid white;*/
  }
  .third-row .skills .block {
    margin-top: 5px;
    border-radius: 2px;
    height: 45px;
    padding: 1px 15px 2px 7px;
    color: white;
    text-decoration: none transparent;
    border: 1px solid transparent;
  }
  .third-row .skills .name {
    font-size: 18px !important;
    margin: 7px 0 0 15px;
    display: inline-block;
    width: 80%;
  }
  .third-row .skills .score {
    text-align: right;
    margin-top: 6px;
    display: inline-block;
    font-size: 18px;
    width: 8%;
  }
  .third-row .skills .media-title {
    display: block !important;
  }
  .third-row .skills .right-side {
    display: none !important;
  }
  .third-row .skills .left-side {
    width: 100% !important;
    border-right: none !important;
  }
  .third-row .skills .down-arrow-box {
    display: block !important;
  }
  .third-row .activity .content {
    display: inline-block !important;
  }
  .third-row .activity .left-side {
    width: 97% !important;
    height: 250px;
    margin-left: 6px !important;
    margin-top: 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.4) !important;
    padding-top: 20px;
    /*border: 1px solid white;*/
  }
  .third-row .activity .sub-title {
    padding: 4px 0 7px 8px !important;
  }
  .activity .block {
    height: 37px !important;
  }
  .third-row .activity .question {
    width: 100% !important;
    height: 30px;
    padding-top: 8px;
    padding-left: 2px;
    padding-right: 2px;
    /*border: 1px solid white;*/
  }
  .third-row .activity .commit {
    width: 70%;
    height: 30px;
    padding-top: 8px;
  }
  .third-row .activity .repo-name {
    width: 30%;
    height: 30px;
    padding-top: 8px;
  }
  .third-row .activity .post-title {
    width: 100% !important;
    height: 30px;
    padding-top: 8px;
  }
  .third-row .activity .right-side {
    display: none !important;
  }
  .third-row .activity .media-top-selector {
    display: flex !important;
    left: 10px !important;
    width: 95%;
    justify-content: space-between;
    /*border: 1px solid white;*/
  }
  .third-row .activity .media-top-selector .option {
    width: 28% !important;
    margin: 0 !important;
    font-size: 45px;
    text-align: center;
    border-radius: 2px;
    /*border: 1px solid rgba(208, 255, 0, 1);*/
  }
  .activity .media-top-selector .wiggle {
    width: 28% !important;
    top: 0px !important;
  }
  .activity .media-top-selector .pos-3 {
    transform: translateX(-5%) !important;
  }
  .activity .media-top-selector .pos-2 {
    transform: translateX(120%) !important;
  }
  .activity .media-top-selector .pos-1 {
    transform: translateX(245%) !important;
  }
  .third-row .activity .date {
    display: none !important;
  }
  .third-row .activity .events-date {
    display: none !important;
  }
  .third-row .projects .content {
    display: inline-block !important;
    width: 90%;
    margin: 20px 5% 0 5% !important;
    /*border: 1px solid white;*/
  }
  .third-row .projects .switcher-box {
    padding-top: 5px;
    display: flex !important;
    width: 100% !important;
    margin: 0 !important;
    text-transform: capitalize;
    /*border: 1px solid white;*/
  }
  .third-row .projects .right-side {
    display: none !important;
  }
  .third-row .projects .left-side {
    width: 100%;
    margin: 0 !important;
    /*border: 1px solid orange;*/
  }
  .third-row .projects .left-side .about {
    width: 100% !important;
    margin: 20px 0 !important;
    letter-spacing: 1px !important;
    line-height: 22px !important;
    /*border: 1px solid green;*/
  }
  .third-row .projects .left-side .about {
    margin-top: 10px;
    /*border: 1px solid white;*/
  }
  .third-row .projects .left-side .link {
    margin-left: 0px;
    margin-top: 30px !important;
    /*border: 1px solid white;*/
  }
  .third-row .projects .left-side .tags-wrapper {
    margin-top: 25px !important;
    margin-left: -5px !important;
    /*border: 1px solid white;*/
  }
  .projects .left-side .tag {
    font-size: 15px;
  }
}
@media screen and (max-width: 411px) {
  .second-row .main-menu .menu-wrapper .elevator {
    min-width: 97.5% !important;
    left: 0.3% !important;
    height: 35px !important;
  }
  .third-row .activity .media-top-selector {
    display: flex !important;
    left: 10px !important;
    width: 94%;
    justify-content: space-between;
    /*border: 1px solid white;*/
  }
  .third-row .activity .media-top-selector .option {
    width: 28% !important;
    margin: 0 !important;
    font-size: 45px;
    text-align: center;
    border-radius: 2px;
    /*border: 1px solid rgba(208, 255, 0, 1);*/
  }
  .third-row .activity .media-top-selector .wiggle {
    width: 28% !important;
    top: 0px !important;
  }
  .third-row .activity .media-top-selector .pos-3 {
    transform: translateX(-6%) !important;
  }
  .third-row .activity .media-top-selector .pos-2 {
    transform: translateX(119%) !important;
  }
  .third-row .activity .media-top-selector .pos-1 {
    transform: translateX(244%) !important;
  }
  .third-row .activity .repo-name {
    display: none !important;
  }
}
@media screen and (max-width: 378px) {
  .second-row .main-menu .menu-wrapper {
    height: 94% !important;
    width: 93% !important;
    font-size: 20px !important;
    /*border: 1px solid white;*/
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 80% !important;
    margin: 3px 1% 0 1%;
    padding: 3px 0 6px 0;
    /*border: 1px solid rgba(208, 255, 0, 1) !important;*/
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 95.5% !important;
    left: 0px !important;
    right: 0px;
    height: 35px !important;
  }
}
@media screen and (max-width: 320px) {
  .scroll-display {
    display: none !important;
  }
  .second-row .basic-info {
    display: none !important;
  }
  .second-row .left-side {
    margin-top: -5px !important;
    width: 100% !important;
    /*border: 1px solid yellow;*/
  }
  .second-row .right-side {
    display: none !important;
  }
  .second-row .main-menu .menu-wrapper {
    height: 94% !important;
    width: 95.5% !important;
    font-size: 20px !important;
    /*border: 1px solid white;*/
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 100% !important;
    left: 0px !important;
    right: 0px;
    height: 35px !important;
  }
  .second-row .main-menu .border-img {
    width: 88% !important;
  }
  .third-row {
    width: 100% !important;
    height: calc(100vh - 100px) !important;
    display: block !important;
    /*border: 1px solid yellow;*/
  }
  .third-row .border-img {
    width: calc(100% - 38px) !important;
    height: calc(100vh - 260px) !important;
  }
  .third-row .inner-container {
    height: calc(100% + 29px) !important;
  }
  .third-row .skills .content {
    height: calc(100vh - 300px) !important;
    /*border: 1px solid white;*/
  }
}
@media screen and (max-width: 290px) {
  .scroll-display {
    display: none !important;
  }
  .second-row .basic-info {
    display: none !important;
  }
  .second-row .left-side {
    margin-top: -5px !important;
    width: 100% !important;
    /*border: 1px solid yellow;*/
  }
  .second-row .right-side {
    display: none !important;
  }
  .second-row .main-menu .border-img {
    margin: 0 auto;
    border-radius: 8px;
    border-style: solid;
    border-width: 19px;
    width: calc(90% - 38px) !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }
  .second-row .main-menu .menu-wrapper {
    height: 94% !important;
    width: 95.5% !important;
    font-size: 20px !important;
    /*border: 1px solid white;*/
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 100% !important;
    left: 0px !important;
    right: 0px;
    height: 35px !important;
  }
  .second-row .main-menu .border-img {
    width: 86% !important;
  }
  .third-row {
    width: 100% !important;
    height: calc(100vh - 100px) !important;
    display: block !important;
    /*border: 1px solid yellow;*/
  }
  .third-row .border-img {
    width: calc(100% - 38px) !important;
    height: calc(100vh - 260px) !important;
  }
  .third-row .inner-container {
    height: calc(100% + 29px) !important;
  }
  .third-row .skills .content {
    height: calc(100vh - 300px) !important;
    /*border: 1px solid white;*/
  }
  .third-row .about .content {
    height: calc(100vh - 330px) !important;
    min-height: 320px !important;
  }
  .activity .media-top-selector .wiggle {
    width: 27.6% !important;
  }
}
/*
-- Height @media
*/
@media screen and (max-height: 800px) {
  footer {
    display: none !important;
  }
}
@media screen and (max-height: 667px) and (max-width: 499px) {
  .third-row .about .content {
    width: 90%;
    height: calc(100vh - 430px) !important;
    min-height: 230px;
    line-height: 25px !important;
    margin: 25px auto 5px auto;
    font-size: 16px !important;
    /*border: 1px solid white;*/
  }
  .third-row .skills .content {
    margin-top: 10px;
    min-height: 140px !important;
    width: 94%;
    /*border: 1px solid white;*/
  }
  .third-row .skills .media-title {
    margin-bottom: 10px !important;
    font-size: 18px !important;
  }
  .third-row .skills .block {
    margin-top: 5px;
    border-radius: 2px;
    height: 35px;
    padding: 1px 15px 2px 7px;
    color: white;
    text-decoration: none transparent;
    border: 1px solid transparent;
  }
  .third-row .skills .name {
    font-size: 17px !important;
    margin: 7px 0 0 15px;
    display: inline-block;
    width: 80%;
  }
  .third-row .skills .score {
    text-align: right;
    margin-top: 6px;
    display: inline-block;
    font-size: 18px;
    width: 8%;
  }
  .third-row .projects .content {
    display: inline-block !important;
    width: 90%;
    margin: 15px 5% 0 5% !important;
    /*border: 1px solid white;*/
  }
  .third-row .projects .left-side .about {
    width: 100% !important;
    margin: 12px 0 !important;
    letter-spacing: 1px !important;
    line-height: 22px !important;
    /*border: 1px solid green;*/
  }
  .third-row .projects .left-side .link {
    margin-left: 0px;
    margin-top: 20px !important;
    /*border: 1px solid white;*/
  }
  .third-row .projects .left-side .tags-wrapper {
    display: none !important;
  }
}
@media screen and (max-height: 600px) and (max-width: 399px) {
  .third-row .about .arrow-box {
    margin: 20px auto 5px auto !important;
    /*border: 1px solid white;*/
  }
}
