.hide-page {
  display: none;
}
.show-page {
  margin: 50px auto 30px auto;
  width: 800px;
  /*border: 1px solid black;*/
}
/* -- With no properties
.first-row {
}
*/
.second-row {
  display: flex;
  /*border: 1px solid white;*/
}
/* -- with no properties
.second-row .left-side {
}
*/
.second-row .right-side {
  padding-left: 3px;
}
.third-row {
  display: flex;
  /*border: 1px solid white;*/
}
.third-row .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  border-image: url("http://localhost:3000/images/border3.png") 33 round;
  width: 734px;
  height: 240px;
}
.third-row .inner-container {
  height: 296px;
  margin: -28px -30px;
  background-image: url("http://localhost:3000/images/black-metal-texture-100.png");
  background-repeat: no-repeat;
  background-size: auto;
  /*background: var(--bg1);*/
  overflow: hidden;
}
