.main-wrapper {
  margin: 50px auto 30px auto;
  width: 800px;
  /*border: 1px solid black;*/
}
.second-row {
  display: flex;
  /*border: 1px solid white;*/
}
.second-row .left-side {
}
.second-row .right-side {
  padding-left: 3px;
}
.third-row {
  display: flex;
  /*border: 1px solid white;*/
}
.third-row .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  padding: 0px;
  border-image: url("http://localhost:3000/images/border1.png") 33 round;
  width: 734px;
  height: 180px;
  z-index: 99;
}
.third-row .inner-container {
  height: 236px;
  margin: -28px -30px;
  background-color: rgb(0, 0, 0, 0.6);
  overflow: hidden;
}
