.hide-page {
  display: none;
}
.show-page {
  margin: 50px auto 30px auto;
  width: 800px;
  /*border: 3px solid purple;*/
}
/*
.first-row {
  border: 1px solid yellow;
}
*/
.second-row {
  display: flex;
  margin-top: 3px;
  /*border: 1px solid white;*/
}
/*
.second-row .left-side {
}
*/
.second-row .right-side {
  padding-left: 3px;
}
.third-row {
  display: flex;
  /*border: 1px solid white;*/
}
.third-row .border-img {
  margin: 3px auto;
  border: 19px solid transparent;
  border-image: url("../assets/images/border-60px.png") 19 round;
  width: 770px;
  height: 180px;
}
.third-row .inner-container {
  height: 205px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgb(17, 60, 252, 0.6),
    rgb(17, 60, 252, 0.6) 1px,
    rgb(25, 52, 152, 0.7) 2px,
    rgb(25, 52, 152, 0.7) 3px
  );
  overflow: hidden;
  /*border: 1px solid rgba(14, 16, 98, 0.4);*/
}
/*
-- MEDIA --
*/
@media (min-width: 750px) and (max-width: 900px) {
  .show-page {
    width: 700px !important;
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: 658px !important;
  }
  /* 
  -- Second row --
  */
  .second-row .main-menu .border-img {
    width: 130px;
  }
  .second-row .basic-info .border-img {
    width: 487px !important;
  }
  .second-row .basic-info .username-wrapper {
    display: none;
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 146px !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 146px !important;
  }
  /* 
  -- Third row --
  */
  .third-row .border-img {
    width: 660px !important;
  }
  .third-row .activity .left-side {
    width: 567px !important;
  }
  .third-row .activity .right-side {
    width: 100px !important;
  }
}
@media screen and (max-width: 749px) {
  .show-page {
    margin: 20px auto 30px auto;
    width: 413px !important;
    /*border: 1px solid white;*/
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: 375px !important;
  }
  /* 
  -- Second row --
  */
  .second-row .main-menu .border-img {
    width: 190px;
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 206px !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 206px !important;
  }
  .second-row .basic-info .border-img {
    width: 144px !important;
  }
  .second-row .basic-info .username-wrapper {
    display: none !important;
  }
  .second-row .basic-info .info {
    display: none !important;
  }
  /*
  -- Third row --
  */
  .third-row .border-img {
    width: 375px !important;
    height: 270px;
  }
  .third-row .inner-container {
    height: 299px !important;
    /*border: 1px solid rgba(14, 16, 98, 0.4);*/
  }
  .about .content {
    width: 92%;
    height: 210px !important;
    margin: 25px auto 5px auto;
    /*border: 1px solid white; */
  }
  .skills .content {
    height: 220px !important;
  }
  .skills .right-side {
    display: none !important;
  }
  .skills .left-side {
    width: 100% !important;
    border-right: none !important;
  }
  .skills .down-arrow-box {
    display: block !important;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
}
@media screen and (max-width: 399px) {
}
