.hide-page {
  display: none;
}
.show-page {
  margin: 50px auto 30px auto;
  width: 800px;
  /*border: 1px solid black;*/
}
/* -- With no properties
.first-row {
}
*/
.second-row {
  margin-top: 3px;
  display: flex;
  /*border: 1px solid white;*/
}
/* -- with no properties
.second-row .left-side {
}
*/
.second-row .right-side {
  padding-left: 3px;
}
.third-row {
  display: flex;
  /*border: 1px solid white;*/
}
.third-row .border-img {
  margin: 3px auto;
  border: 19px solid transparent;
  border-image: url("../assets/images/border-60px.png") 19 round;
  width: 770px;
  height: 180px;
}
.third-row .inner-container {
  height: 205px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgb(17, 60, 252, 0.6),
    rgb(17, 60, 252, 0.6) 1px,
    rgb(25, 52, 152, 0.7) 2px,
    rgb(25, 52, 152, 0.7) 3px
  );
  overflow: hidden;
  border: 1px solid rgba(14, 16, 98, 0.4);
}
