@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
:root {
  --bg1: rgba(0, 0, 0, 0.5);
  --yellow1: rgb(234, 203, 99);
  --yellow2: rgb(241, 190, 50);
  --yellow3: rgb(248, 217, 131);
  --green1: rgb(54, 182, 31);
}
body {
  background-image: url("http://localhost:3000/images/pixel-bg-2.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: "play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
