@media (min-width: 750px) and (max-width: 900px) {
  .show-page {
    width: 700px !important;
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: 658px !important;
  }
  /* 
  -- Second row --
  */
  .second-row .main-menu .border-img {
    width: 130px;
  }
  .second-row .basic-info .border-img {
    width: 487px !important;
  }
  .second-row .basic-info .username-wrapper {
    display: none;
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 146px !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 146px !important;
  }
  /* 
  -- Third row --
  */
  .third-row .border-img {
    width: 660px !important;
  }
  .third-row .activity .left-side {
    width: 567px !important;
  }
  .third-row .activity .right-side {
    width: 100px !important;
  }
  .third-row .activity .events-date {
    display: none !important;
  }
}
@media (min-width: 420px) and (max-width: 749px) {
  .show-page {
    margin: 20px auto 30px auto;
    width: 413px !important;
    /*border: 1px solid white;*/
  }
  .scroll-display .border-img {
    margin: 0 !important;
    width: 375px !important;
  }
  /* 
  -- Second row --
  */
  .second-row .main-menu .border-img {
    width: 190px;
  }
  .second-row .main-menu .menu-wrapper .elevator {
    width: 206px !important;
  }
  .second-row .main-menu .menu-wrapper .option {
    width: 206px !important;
  }
  .second-row .basic-info .border-img {
    width: 144px !important;
  }
  .second-row .basic-info .username-wrapper {
    display: none !important;
  }
  .second-row .basic-info .info {
    display: none !important;
  }
  /*
  -- Third row --
  */
  .third-row .border-img {
    width: 375px !important;
    height: 270px;
  }
  .third-row .inner-container {
    height: 299px !important;
    /*border: 1px solid rgba(14, 16, 98, 0.4);*/
  }
  .third-row .about .content {
    width: 94%;
    height: 210px !important;
    margin: 25px auto 5px auto;
    /*border: 1px solid white; */
  }
  .third-row .skills .content {
    margin-top: 5px;
    height: 220px !important;
    width: 94%;
    /*border: 1px solid white;*/
  }
  .skills .skills-wrapper {
    width: 100% !important;
    margin: 0 !important;
  }
  .third-row .skills .right-side {
    display: none !important;
  }
  .third-row .skills .left-side {
    width: 100% !important;
    border-right: none !important;
  }
  .third-row .skills .down-arrow-box {
    display: block !important;
  }
  .third-row .activity .content {
    display: inline-block !important;
  }
  .third-row .activity .left-side {
    width: 388px !important;
    margin-left: 6px !important;
    margin-top: 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.4) !important;
    padding-top: 20px;
  }
  .third-row .activity .question {
    width: 100% !important;
  }
  .third-row .activity .post-title {
    width: 100% !important;
  }
  .third-row .activity .right-side {
    display: none !important;
  }
  .third-row .activity .media-top-selector {
    display: flex !important;
  }
  .third-row .activity .date {
    display: none !important;
  }
  .third-row .activity .events-date {
    display: none !important;
  }
  .third-row .projects .content {
    display: inline-block !important;
  }
  .third-row .projects .switcher-box {
    display: flex !important;
  }
  .third-row .projects .right-side {
    display: none !important;
  }
  .third-row .projects .left-side {
    width: 94%;
    margin: 0 auto !important;
  }
  .third-row .projects .left-side .about {
    margin-top: 10px;
  }
}
