footer {
  position: fixed;
  display: flex;
  bottom: 0px;
  width: 100%;
  font-weight: 300;
  height: 34px;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-family: "poppins", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /*font-family: "play", sans-serif;*/
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}
footer .credits {
  display: flex;
  height: 20px;
  margin: 9px auto;
  /*text-shadow: -1px 0 rgb(0, 0, 0, 0.9), 0 1px rgb(0, 0, 0, 0.9),
    1px 0 rgb(0, 0, 0, 0.9), 0 -1px rgb(0, 0, 0, 0.9);
  /*border: 1px solid white;*/
}
footer .credits .txt {
  margin-top: 1px;
  display: inline-block;
  /*border: 1px solid white;*/
}
footer a {
  text-decoration: none !important;
  color: white;
}
footer .credit-link {
  margin-top: 1px;
  color: rgb(255, 248, 157, 0.9);
  /*border: 1px solid white;*/
}
