.skills .content {
  display: flex;
  font-family: "play", sans-serif;
  width: 92%;
  height: 240px;
  margin: 15px auto 5px auto;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  /* border: 1px solid white;*/
}
.skills .sub-title {
  margin-bottom: 20px;
}
.skills .left-side {
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 10px;
  width: 50%;
  height: 228px;
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  /* border: 1px solid green; */
}
.skills .right-side {
  margin-top: 10px;
  padding-left: 15px;
  width: 50%;
  /* border: 1px solid green; */
}
.skills .skills-wrapper {
  margin-top: 2px;
  margin-left: -9px;
  /* border: 1px solid orange;*/
}
.skills .block {
  margin-top: 5px;
  border-radius: 2px;
  height: 35px;
  padding: 1px 15px 2px 7px;
  display: flex;
  width: calc(100% - 30px);
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  text-decoration: none !important;
}
.skills .block:hover {
  border: 1px dashed white;
}
.skills .badge-wrapper {
  padding: 3px 3px 2px 3px;
}
.skills .opacity-08 {
  opacity: 0.8;
}
.skills .name {
  font-size: 16px;
  margin: 7px 0 0 15px;
  display: inline-block;
  width: 80%;
}
.skills .score {
  text-align: right;
  margin-top: 6px;
  display: inline-block;
  font-size: 17px;
  width: 8%;
}
/*
-- For @media --
*/
.skills .down-arrow-box {
  display: none;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  height: 50px;
  /*border: 1px solid white;*/
}
.skills .down-arrow-box i {
  font-size: 35px;
  cursor: pointer;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  animation: arrow-flicker 1300ms infinite;
}
.skills .show {
  display: block;
}
.skills .hide {
  display: none !important;
}
.skills .media-title {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  height: 30px;
  font-size: 18px;
  /*border-bottom: 1px solid rgb(255, 255, 255, 0.5);*/
}
