.skills .sub-title {
  font-family: "play", sans-serif;
  padding: 4px 0 4px 0;
  /* border: 1px solid white; */
}
.skills .content {
  display: flex;
  font-family: "play", sans-serif;
  width: 95%;
  height: 130px;
  margin: 10px auto 5px auto;
  /* background: rgb(84, 65, 121, 0.5); */
  color: rgb(255, 255, 255, 0.7);
  /* border: 1px solid white; */
}
.skills .left-side {
  width: 50%;
  /* border: 1px solid green; */
}
.skills .right-side {
  width: 50%;
  /* border: 1px solid green; */
}
.skills .skills-wrapper {
  margin-top: 5px;
  /* border: 1px solid orange; */
}
.skills .skills-wrapper > div {
  display: flex;
  margin-top: 12px;
  height: 30px;
  /* border: 1px solid orange; */
}
.skills .badge-wrapper {
  height: 30px;
  padding: 5px 5px 0px 5px;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255, 0.6);
  color: rgb(255, 255, 255, 0.8);
}
.skills .details {
  display: flex;
  width: calc(100% - 30px);
  /* border: 1px solid red; */
}
.skills .name {
  margin: 7px 0 0 15px;
  display: inline-block;
  width: 80%;
}
.skills .score {
  margin-top: 7px;
  display: inline-block;
  width: 10%;
}
.skills i {
  font-size: 26px;
}
