.links .border-img {
  margin: 0px auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 19px;
  border-image: url("../../assets/images/border-60px.png") 19 round;
  width: 770px;
  height: 30px;
  z-index: 2;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.links .inner-container {
  height: 58px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgb(17, 60, 252, 0.75),
    rgb(17, 60, 252, 0.75) 1px,
    rgb(25, 52, 152, 0.85) 2px,
    rgb(25, 52, 152, 0.85) 3px
  );
  overflow: hidden;
  /*border: 1px solid rgba(14, 16, 98, 0.4);*/
}
.links .icons-wrapper {
  margin: 10px 30px 0 30px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid yellow;*/
}
.links .icons-wrapper a {
  text-decoration: none !important;
  cursor: default;
}
.links .icons-wrapper .fa-icon {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  transition: 500ms;
}
.links .icons-wrapper .fa-icon:hover {
  color: rgba(255, 255, 255, 0.8);
}
.links .icons-wrapper .copied-animation {
  position: absolute;
  z-index: 5;
  right: 18px;
  font-size: 14px;
  color: var(--yellow1);
  animation-name: fade-up;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
}
@keyframes fade-up {
  0% {
    opacity: 1;
    top: 25px;
  }
  100% {
    opacity: 0;
    top: -50px;
  }
}
