.about .content {
  width: 95%;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: "play", sans-serif;
  color: rgb(255, 255, 255, 0.6);
  margin: 10px auto 5px auto;
  /* background: rgb(84, 65, 121, 0.5); */
}
