.about .highlight {
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  font-style: italic;
}
.about .content {
  width: 92%;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: "play", sans-serif;
  font-size: 17px;
  color: white;
  margin: 25px auto 5px auto;
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  /* border: 1px solid white; */
}
.about .down-arrow-box {
  width: 92%;
  text-align: center;
  margin: 15px auto 5px auto;
  /* border: 1px solid white; */
}
.about .down-arrow-box i {
  cursor: pointer;
  font-size: 35px;
  color: rgb(255, 255, 255, 0.9);
  text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
  animation: flicker 1500ms infinite;
}
.about .down-arrow-box i:hover {
  animation: none;
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
