.about .highlight {
  border-bottom: 1px solid var(--yellow1);
}
.about .content {
  width: 92%;
  text-align: justify;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: "play", sans-serif;
  color: white;
  margin: 35px auto 5px auto;
  /* border: 1px solid white; */
}
.about .down-arrow-box {
  width: 92%;
  text-align: center;
  margin: 55px auto 5px auto;
  /* border: 1px solid white; */
}
.about .down-arrow-box img {
  cursor: pointer;
}
