.scroll-display .border-img {
  margin: 0 auto;
  border: 19px solid transparent;
  border-image: url("http://localhost:3000/images/border-60px.png") 19 round;
  width: 769px;
  height: 30px;
  z-index: 99;
}
.scroll-display .border-img .inner-container {
  height: 56px;
  margin: -14px -14px 0 -14px;
  border-radius: 2px;
  background: repeating-linear-gradient(
    0deg,
    rgb(17, 60, 252, 0.6),
    rgb(17, 60, 252, 0.6) 1px,
    rgb(25, 52, 152, 0.7) 2px,
    rgb(25, 52, 152, 0.7) 3px
  );

  /* background: rgb(0, 0, 0, 0.6);*/
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), var(--bg1));*/
  overflow: hidden;
  border: 1px solid rgba(14, 16, 98, 0.4);
}

.msg-display {
  width: 98%;
  height: 38px;
  margin: 9px auto 0 auto;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgb(218, 173, 114, 0.3);
  background: rgba(15, 15, 15, 0.6);
  box-shadow: rgb(0, 0, 0) 1px 1px 2px 0px inset,
    rgba(0, 0, 0, 0.3) -1px -1px 2px 1px inset;
}
.msg-display .text-container {
  padding-top: 15px;
  width: 2500px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: rgb(241, 190, 50, 0.8);
}
.msg-display .text-container .scroll-text {
  text-align: right;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}
/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
