.scroll-display .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  padding: 0px;
  border-image: url("http://localhost:3000/images/border1.png") 33 round;
  width: 734px;
  height: 0px;
  z-index: 99;
}
.scroll-display .border-img .inner-container {
  height: 56px;
  margin: -28px -30px;
  background-image: url("http://localhost:3000/images/black-metal-texture-100.png");
  background-repeat: no-repeat;
  background-size: auto;
  /* background: rgb(0, 0, 0, 0.6);*/
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), var(--bg1));*/
  overflow: hidden;
}

.msg-display {
  width: 98%;
  height: 38px;
  margin: 9px auto 0 auto;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgb(218, 173, 114, 0.4);
  background: rgb(0, 0, 0, 0.6);
}
.msg-display .text-container {
  padding-top: 15px;
  width: 2500px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: rgb(241, 190, 50, 0.8);
}
.msg-display .text-container .scroll-text {
  text-align: right;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}
/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
