.scroll-display .border-img {
  margin: 0 auto;
  border: 33px solid transparent;
  padding: 0px;
  border-image: url("http://localhost:3000/images/border1.png") 33 round;
  width: 734px;
  height: 0px;
  z-index: 99;
}
.scroll-display .border-img .inner-container {
  height: 56px;
  margin: -28px -30px;
  background-color: rgb(0, 0, 0, 0.3);
  overflow: hidden;
}

.msg-display {
  width: 98%;
  height: 33px;
  margin: 11px auto 0 auto;
  overflow: hidden;
  border-radius: 3px;
  background: rgb(0, 0, 0, 0.3);
}
.msg-display .text-container {
  padding-top: 10px;
  width: 1500px;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  color: rgba(255, 251, 182, 0.5);
}
.msg-display .text-container .scroll-text {
  text-align: right;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}
/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
